.page-wrapper {
    height: 200px;
    width: 400px;
    background: #cb2d3e;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}

.btn-google{
    background: #3cba54;
}